div {
  margin: 0px 80px 0px;
  display: flex;
  /* height: 310px; */
  /* min-height: auto; */
  min-height: fit-content;
}

header {
  background: white;
  height: 50px;
  display: flex;
  align-items: center;
  margin: 0px 100px 0px;
  /* margin: auto; */
  border-style: dotted;
  /* max-width: 600px; */


/*   padding: 10px 90px; */
/*   top: 0; */
/*   width: 100%; */
/*   position: fixed; */
/*   position: static; */
}

#vlevo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  background: white;
  margin: 0px 20px 0px;
  border-style: dotted;
}
main {
  flex-grow: 10;
  /* display: block; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-style: dotted;
  text-align: center;
  flex-direction: column-reverse;
}

#fotka-main {
  /* background-image: url("./fotky/IMG_20200410_094426.jpg"); */
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#popis-fotky{
  border-style: dotted;
  position: fixed;
  color: white;
  margin-block-start: -0.0px;
  margin-block-end: 2.90px;
  margin-inline-start: 0px;
  margin-inline-end: -50px;
  background-color: rgba(128, 128, 128, 0.699);
  min-height: 50px;
  margin: 0px 10px 0px;
}


  #popis-fotky-02 {
    border-style: dotted;
    position: fixed;
    color: white;
    margin-block-start: -0.0px;
    margin-block-end: 2.90px;
    margin-inline-start: 0px;
    margin-inline-end: -50px;
    background-color: rgba(128, 128, 128, 0.699);
    min-height: 25px;
    margin: 0px 10px 0px;
}

#vpravo {
  display: flex;
  /* align-items: flex-end; */
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  background: white;
  margin: 0px 20px 0px;
  border-style: dotted;
}

#sipka-vpravo {
  transform: rotate(0.5turn);
}


#sipka-vlevo, #sipka-vpravo  {
  border-style: solid;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  padding: 2px;
  background-color: whitesmoke;
}


.item {
  width: 100%;
  height: 50px;
  background: rgb(255, 158, 47);
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  padding-bottom: 0px;
  list-style-type: none;
  border-style: dotted;

}


footer {
  display: flex;
  align-items: center;
  margin: 0 200px;
  background: grey;
  height: 80px;
  border-style: dotted;
  /* align-items: flex-end; */
  /* align-items: flex-start; */
  /* flex-direction: column; */
  flex-direction: row;
  justify-content: space-between;
}

.itemToombnail {
  display: block;
  width: 40px;
  height: 35px;
  background: #2aa9fe;
  margin: 5px;
  list-style-type: none;
  border-style: dotted;

 }

 #prvni-it {
  margin-left: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-style: dotted;
  text-align: center;
  flex-direction: column-reverse;
}

#fotka-prvni-it {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}


#druhy-it {
  margin-left: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-style: dotted;
  text-align: center;
  flex-direction: column-reverse;
}

#fotka-druhy-it {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#treti-it {
  margin-left: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-style: dotted;
  text-align: center;
  flex-direction: column-reverse;
}

#fotka-treti-it {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#ctvrty-it {
  margin-left: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-style: dotted;
  text-align: center;
  flex-direction: column-reverse;
}

#fotka-ctvrty-it {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#paty-it {
  margin-left: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-style: dotted;
  text-align: center;
  flex-direction: column-reverse;
}

#fotka-paty-it {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#sesty-it {
  margin-left: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-style: dotted;
  text-align: center;
  flex-direction: column-reverse;
}

#fotka-sesty-it {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#posledni-it {
  margin-left: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-style: dotted;
  text-align: center;
  flex-direction: column-reverse;
}

#fotka-posledni-it {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}


 #posledni-it {
  margin-right: 50px;
}

