.container {
    display: flex;
    flex-direction: row-reverse;
    flex-direction: row;
  /*   flex-direction: column;
    flex-direction: column-reverse; */
  width: 350px;
  height: 350px;
      flex-wrap: wrap;
    justify-content: space-around;
    justify-content: space-between;
    justify-content: flex-end;
    border-style: dotted;

  }
  