div {
  margin: 0px 80px 0px;
  display: flex;
  min-height: fit-content;
}

header {
  background: white;
  height: 50px;
  display: flex;
  align-items: center;
  margin: 0px 100px 0px;
  border-style: dotted;
}

#left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  background: white;
  margin: 0px 20px 0px;
  border-style: dotted;
}
main {
  flex-grow: 10;
  display: block;
  border-style: dotted;
  z-index: 0;
}

#photo-holder {
  position: relative;
  border: 0px;
  margin: 0px;
  padding: 0px;
  z-index: 3;
  width: 100%;
  height: 100%;
}

.gray-container {
  position: relative;
  display: block;
  border: 0px;
  margin: 0px;
  padding: 0px;
  top: -100px;
  left: -0px;
  color: white;
  background-color: rgba(128, 128, 128, 0.699);
  z-index: 3;
}

#id-photo-main {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#photo-title, #photo-descripction {
  border-style: dotted;
  border: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 10px;
  min-height: 30px;
  padding-top: 10px;
}



#right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  background: white;
  margin: 0px 20px 0px;
  border-style: dotted;
}

#sipka-vpravo {
  transform: rotate(0.5turn);
}


#sipka-vlevo, #sipka-vpravo  {
  border-style: solid;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  padding: 2px;
  background-color: whitesmoke;
}


.item {
  width: 100%;
  height: 50px;
  background: rgb(255, 158, 47);
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  padding-bottom: 0px;
  list-style-type: none;
  border-style: dotted;

}


footer {
  display: flex;
  align-items: center;
  margin: 0 200px;
  /* background: grey; */
  height: 80px;
  /* border-style: dotted; */
  flex-direction: row;
  justify-content: space-between;
}

.itemToombnail {
  display: block;
  width: 40px;
  height: 35px;
  background: #2aa9fe;
  margin: 5px;
  list-style-type: none;
  /* border-style: dotted; */

  }

  .itemToombnail:hover {
    width: 45px;
    height: 40px;
   }

 #prvni-it {
  margin-left: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  flex-direction: column-reverse;
}

#fotka-prvni-it {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}


#druhy-it {
  margin-left: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  flex-direction: column-reverse;
}

#fotka-druhy-it {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#treti-it {
  margin-left: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  flex-direction: column-reverse;
}

#fotka-treti-it {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#ctvrty-it {
  margin-left: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  flex-direction: column-reverse;
}

#fotka-ctvrty-it {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#paty-it {
  margin-left: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  flex-direction: column-reverse;
}

#fotka-paty-it {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#sesty-it {
  margin-left: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  flex-direction: column-reverse;
}

#fotka-sesty-it {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#posledni-it {
  margin-left: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  flex-direction: column-reverse;
}

#fotka-posledni-it {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}


 #posledni-it {
  margin-right: 50px;
}

